.kanban__card {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 330px;
    min-height: 100px;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    background: rgb(238, 232, 232);
    overflow: auto;
    color: #000;
    cursor: pointer;

    &-active {
        position: fixed;
        top: calc(50% - 110px);
        left: calc(50% - 300px);
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.9);
        width: 600px;
        min-height: 300px;
        z-index: 10;
    }
        

    &-user {
        font-style: italic;
        font-weight: 600;
    }

    &-settings {
        position: absolute;
        top: calc(50% - 60px);
        width: 90%;
        left: 10%;
        margin: 0 0 0 -5%;
        background: #000;
        border-radius: 10px;
        font-size: 16px;
        text-align: left;
        padding: 10px;
        border: 1px solid #ccc;
        color: #fff;
    }

    &-item {
        padding: 15px 10px;
        cursor: pointer;
    
        &:hover {
            background:rgb(31, 23, 23);
        }
    }    

    &-name {
        width: 85%;
        font-weight: 600;
        font-size: 22px;
        font-style: italic;
    }
    
    &-comment {
        width: 90%;
        margin: 10px 10px 10px 0;
        border-top: 1px solid rgb(156, 146, 146);
        border-bottom: 1px solid rgb(156, 146, 146);
        padding: 10px;
        white-space: pre-line;
        overflow-wrap: break-word;
        line-height: 25px;
    }

    &-date {
        font-style: italic;
        font-weight: 600;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        cursor: pointer;
        
        &:hover {
            opacity: 0.6;
        }

        &::before {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 30px;
            width: 2px;
            background-color: rgb(172, 44, 44);
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 30px;
            width: 2px;
            background-color: rgb(172, 44, 44);
            transform: rotate(-45deg);
        }
    }    
   
    &-edit {
        position: absolute;
        top: calc(50% - 60px);
        left: 10%;
        margin: 0 0 0 -5%;
        width: 90%;
        padding: 20px;
        background: #000;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 20px;
        color: #fff;
        
        &--name {
            padding: 5px;
            width: 97%;
            font-size: 20px;
            border-radius: 15px;
            border: none;
            font-family: 'Gilroy';
            background:rgb(31, 23, 23);
            color: #fff;
        }

        &--comment {
            padding: 5px;
            margin: 10px 0;
            width: 97%;
            font-size: 20px;
            border-radius: 15px;
            border: none;
            resize: none;
            font-family: 'Gilroy';
            background:rgb(31, 23, 23);
            color: #fff;
        }
        
        &--submit {
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -20px;
            left: 20px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ccc;
            background: #302a2a;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 6px;
                width: 55%;
                height: 33%;
                background: transparent;
                border: 3px solid #ccc;
                border-top: none;
                border-right: none;
                border-radius: 3px;
                transform: rotate(-45deg);
                transition: 0.1s linear;
            }

            &:hover {
            border: 3px solid #ccc;
            }

            &:hover::after{
                border: 3px solid #ccc;
                border-top: none;
                border-right: none;
            }
                
        }
        
        &--cancel {
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -20px;
            right: 20px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ccc;
            background: #302a2a;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 14px);
                left: calc(50% - 1px);
                width: 2px;
                height: 28px;
                background: #ccc;
                transform: rotate(45deg);
            }

            &::before {
                content: '';
                position: absolute;
                top: calc(50% - 14px);
                left: calc(50% - 1px);
                width: 2px;
                height: 28px;
                background: #ccc;
                transform: rotate(-45deg);
            }

            &:hover {
            border: 3px solid #ccc;
            }

            &:hover::after{
                height: 26px;
                top: calc(50% - 13px);
            }

            &:hover::before{
                height: 26px;
                top: calc(50% - 13px);
            }
                
        }   
    
    }
}
    
 