.kanban__column {
    width: 370px;
    height: 90%;
    padding: 0 20px;
    margin: 0 auto ;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    overflow: hidden;

    &:hover {
        overflow-y: auto;
    }  

    &-title {
        font-size: 35px;
        margin: 20px 0 0;
    }

    &-buttons {
        display: flex;
        height: 25px;
        justify-content: space-between;
        align-items: center;
    }

    &-count {
        display: block;
        padding: 3px 10px;
        font-size: 30px;
        border: 1px solid deeppink;
        border-radius: 10px;
    }
    
    &-add-elements {
        margin: 0 15px 0 0;
        height: 25px;
        width: 25px;
        background: url(../images/icons/add-elements.png) no-repeat center / contain;
        cursor: pointer;
    }
    
    &-delete-cards {
        height: 25px;
        width: 25px;
        background: url(../images/icons/column-delete.png) no-repeat center / contain;
        cursor: pointer;
    }

    &-head {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        border-radius: 50px;
        min-width: 330px;
    }
}    