.kanban__title {
    font-size: 22px;
    letter-spacing: 4px;
    text-align: center;
    line-height: 30px;
    transform: translateY(-40px);
}

.copyright {
    padding: 50px 20px;
    font-size: 25px;
    line-height: 35px;
}

.kanban__logo {
    font-size: 60px;
    transform: translateY(-50px);

    & span {
        display: inline-block;
        padding: 5px 10px;
        background: rgba(201, 23, 23, 0.5);
    }
}    

::-webkit-scrollbar {
    width: 0px;
    background-color: rgb(145, 156, 145);
}
    
::-webkit-scrollbar-thumb {
    background-color: #fffdfd;
    border-radius: 50px;
}    